.loginContainer{
    display: flex;
    flex:1;
    justify-content: center;
}

.loginBox{
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-top: 20px;
    height: 300px;
    width:400px;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 10px;
    background-color: rgb(98, 123, 155)
}

.loginRow{
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.label{
    margin-right: 20px;
}

.inputBox{
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px;
}

.loginButtonContainer{
    align-self: center;
}

.hintBox{
    margin-top: 20px;
    text-align: justify;
}

.ids{
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
